<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Oak Microblog Engine</title>

  <link rel="stylesheet" type="text/css" href="/style.css" />
</head>

<body>
  <h1>Oak Microblog Engine</h1>

  <ul>
    {{#each posts}}
    <li>{{{this.content}}}</li>
    {{/each}}
  </ul>

  <form action="/posts" method="POST">
    <div class="form-group">
      <label>Author</label>
      <input type="text" name="author" id="field-author" />
    </div>

    <div class="form-group">
      <label>Content</label>
      <input type="text" name="content" id="field-content" />
    </div>

    <button type="submit">Share rant!</button>
  </form>
</body>

</html>